html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: -40px;
  padding-left: 10px;
  background: linear-gradient(white, #38495a);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.layer1 {
  position: fixed;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 36vw 43vh #fbef11,8vw 92vh #fbef11,70vw 73vh #fbef11,54vw 73vh #fbef11,9vw 60vh #fbef11,35vw 23vh #fbef11,21vw 92vh #fbef11,65vw 49vh #fbef11,17vw 28vh #fbef11,44vw 7vh #fbef11,4vw 72vh #fbef11,23vw 50vh #fbef11,35vw 15vh #fbef11,47vw 65vh #fbef11,13vw 18vh #fbef11,16vw 71vh #fbef11,87vw 62vh #fbef11,66vw 79vh #fbef11,33vw 76vh #fbef11,21vw 39vh #fbef11,72vw 93vh #fbef11,94vw 87vh #fbef11,32vw 79vh #fbef11,53vw 78vh #fbef11,11vw 12vh #fbef11,20vw 14vh #fbef11,35vw 42vh #fbef11,69vw 23vh #fbef11,19vw 78vh #fbef11,75vw 7vh #fbef11,84vw 95vh #fbef11,73vw 44vh #fbef11,5vw 78vh #fbef11,66vw 12vh #fbef11,37vw 23vh #fbef11,23vw 40vh #fbef11,97vw 46vh #fbef11,94vw 12vh #fbef11,26vw 57vh #fbef11,63vw 56vh #fbef11,65vw 80vh #fbef11,93vw 74vh #fbef11,33vw 96vh #fbef11,46vw 99vh #fbef11,32vw 4vh #fbef11,35vw 28vh #fbef11,21vw 2vh #fbef11,50vw 79vh #fbef11,43vw 93vh #fbef11,57vw 35vh #fbef11,81vw 68vh #fbef11,25vw 71vh #fbef11,21vw 77vh #fbef11,79vw 3vh #fbef11,95vw 43vh #fbef11,78vw 66vh #fbef11,47vw 75vh #fbef11,85vw 63vh #fbef11,94vw 14vh #fbef11,21vw 20vh #fbef11,39vw 87vh #fbef11,1vw 93vh #fbef11,96vw 48vh #fbef11,15vw 90vh #fbef11,98vw 45vh #fbef11,30vw 55vh #fbef11,10vw 61vh #fbef11,35vw 12vh #fbef11,81vw 74vh #fbef11,23vw 42vh #fbef11,2vw 50vh #fbef11,16vw 83vh #fbef11,13vw 12vh #fbef11,98vw 35vh #fbef11,66vw 99vh #fbef11,29vw 26vh #fbef11,39vw 83vh #fbef11,28vw 88vh #fbef11,81vw 15vh #fbef11,21vw 24vh #fbef11,85vw 56vh #fbef11,77vw 23vh #fbef11,22vw 78vh #fbef11,5vw 67vh #fbef11,55vw 30vh #fbef11,21vw 3vh #fbef11,91vw 82vh #fbef11,4vw 7vh #fbef11,94vw 82vh #fbef11,37vw 25vh #fbef11,40vw 1vh #fbef11,65vw 66vh #fbef11,99vw 50vh #fbef11,14vw 61vh #fbef11,47vw 57vh #fbef11,35vw 55vh #fbef11,1vw 84vh #fbef11,67vw 55vh #fbef11,66vw 74vh #fbef11,26vw 32vh #fbef11,43vw 75vh #fbef11,87vw 26vh #fbef11,33vw 52vh #fbef11,56vw 38vh #fbef11,2vw 48vh #fbef11,64vw 77vh #fbef11,7vw 85vh #fbef11,29vw 1vh #fbef11,35vw 86vh #fbef11,47vw 69vh #fbef11,79vw 16vh #fbef11,47vw 27vh #fbef11,6vw 3vh #fbef11,25vw 5vh #fbef11,20vw 53vh #fbef11,77vw 57vh #fbef11,78vw 79vh #fbef11,41vw 92vh #fbef11,54vw 7vh #fbef11,42vw 2vh #fbef11,55vw 74vh #fbef11,39vw 71vh #fbef11,23vw 3vh #fbef11,81vw 41vh #fbef11,18vw 74vh #fbef11,49vw 26vh #fbef11,3vw 83vh #fbef11,49vw 85vh #fbef11,73vw 61vh #fbef11,30vw 37vh #fbef11,44vw 50vh #fbef11,33vw 86vh #fbef11,74vw 5vh #fbef11,97vw 32vh #fbef11,51vw 51vh #fbef11,14vw 99vh #fbef11,2vw 44vh #fbef11,6vw 33vh #fbef11,92vw 99vh #fbef11,83vw 52vh #fbef11,32vw 10vh #fbef11,32vw 72vh #fbef11,83vw 19vh #fbef11,26vw 100vh #fbef11,51vw 40vh #fbef11,50vw 100vh #fbef11,62vw 91vh #fbef11,18vw 75vh #fbef11,84vw 27vh #fbef11,90vw 30vh #fbef11,46vw 62vh #fbef11,41vw 53vh #fbef11,53vw 23vh #fbef11,27vw 73vh #fbef11,23vw 28vh #fbef11,80vw 28vh #fbef11,64vw 61vh #fbef11,82vw 53vh #fbef11,27vw 95vh #fbef11,3vw 46vh #fbef11,48vw 68vh #fbef11,68vw 52vh #fbef11,52vw 9vh #fbef11,13vw 16vh #fbef11,88vw 29vh #fbef11,6vw 62vh #fbef11,89vw 77vh #fbef11,53vw 93vh #fbef11,68vw 9vh #fbef11,31vw 74vh #fbef11,65vw 49vh #fbef11,70vw 30vh #fbef11,28vw 41vh #fbef11,94vw 57vh #fbef11,43vw 69vh #fbef11,27vw 32vh #fbef11,77vw 37vh #fbef11,5vw 73vh #fbef11,59vw 20vh #fbef11,20vw 10vh #fbef11,94vw 68vh #fbef11,78vw 86vh #fbef11,7vw 89vh #fbef11,20vw 89vh #fbef11,4vw 54vh #fbef11,35vw 58vh #fbef11,19vw 70vh #fbef11,96vw 83vh #fbef11,76vw 28vh #fbef11,69vw 45vh #fbef11,52vw 71vh #fbef11,83vw 63vh #fbef11,21vw 99vh #fbef11,87vw 30vh #fbef11,67vw 99vh #fbef11,70vw 62vh #fbef11,97vw 65vh #fbef11,12vw 46vh #fbef11,1vw 11vh #fbef11,29vw 37vh #fbef11,83vw 90vh #fbef11,29vw 39vh #fbef11,6vw 100vh #fbef11,41vw 64vh #fbef11,13vw 48vh #fbef11,39vw 52vh #fbef11,13vw 23vh #fbef11,30vw 63vh #fbef11,29vw 69vh #fbef11,100vw 79vh #fbef11,13vw 100vh #fbef11,33vw 68vh #fbef11,96vw 31vh #fbef11,24vw 94vh #fbef11,23vw 66vh #fbef11,33vw 83vh #fbef11,15vw 13vh #fbef11,77vw 77vh #fbef11,29vw 64vh #fbef11,7vw 28vh #fbef11,69vw 72vh #fbef11,57vw 96vh #fbef11,96vw 53vh #fbef11,87vw 17vh #fbef11,20vw 61vh #fbef11,50vw 55vh #fbef11,31vw 59vh #fbef11,2vw 89vh #fbef11,71vw 58vh #fbef11,43vw 85vh #fbef11,80vw 58vh #fbef11,79vw 3vh #fbef11,50vw 86vh #fbef11,92vw 76vh #fbef11,39vw 47vh #fbef11,86vw 31vh #fbef11,66vw 19vh #fbef11,94vw 44vh #fbef11,14vw 14vh #fbef11,43vw 96vh #fbef11,85vw 84vh #fbef11,81vw 44vh #fbef11,57vw 2vh #fbef11,52vw 65vh #fbef11,31vw 20vh #fbef11,82vw 15vh #fbef11,36vw 46vh #fbef11,48vw 26vh #fbef11,36vw 98vh #fbef11,40vw 82vh #fbef11;
  animation: moveUp 100s linear infinite;
}
.layer1::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  width: 1px;
  height: 1px;
  border-radius: inherit;
  box-shadow: inherit;
}

.layer2 {
  position: fixed;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 38vw 37vh #dd0089,24vw 60vh #dd0089,71vw 36vh #dd0089,82vw 89vh #dd0089,9vw 85vh #dd0089,7vw 22vh #dd0089,13vw 11vh #dd0089,8vw 77vh #dd0089,29vw 84vh #dd0089,10vw 68vh #dd0089,67vw 11vh #dd0089,92vw 22vh #dd0089,44vw 16vh #dd0089,46vw 68vh #dd0089,70vw 100vh #dd0089,20vw 30vh #dd0089,62vw 35vh #dd0089,75vw 96vh #dd0089,47vw 34vh #dd0089,12vw 39vh #dd0089,12vw 72vh #dd0089,63vw 83vh #dd0089,100vw 43vh #dd0089,48vw 75vh #dd0089,61vw 37vh #dd0089,73vw 64vh #dd0089,34vw 61vh #dd0089,25vw 53vh #dd0089,51vw 55vh #dd0089,71vw 41vh #dd0089,14vw 80vh #dd0089,84vw 36vh #dd0089,40vw 51vh #dd0089,40vw 50vh #dd0089,25vw 64vh #dd0089,22vw 11vh #dd0089,79vw 4vh #dd0089,50vw 94vh #dd0089,32vw 7vh #dd0089,100vw 35vh #dd0089,84vw 98vh #dd0089,94vw 86vh #dd0089,51vw 14vh #dd0089,72vw 64vh #dd0089,21vw 35vh #dd0089,11vw 96vh #dd0089,39vw 15vh #dd0089,73vw 49vh #dd0089,60vw 73vh #dd0089,15vw 100vh #dd0089,21vw 72vh #dd0089,79vw 64vh #dd0089,14vw 59vh #dd0089,65vw 44vh #dd0089,24vw 22vh #dd0089,11vw 6vh #dd0089,8vw 38vh #dd0089,53vw 37vh #dd0089,100vw 2vh #dd0089,16vw 18vh #dd0089,29vw 20vh #dd0089,40vw 74vh #dd0089,82vw 34vh #dd0089,20vw 7vh #dd0089,47vw 29vh #dd0089,7vw 44vh #dd0089,25vw 1vh #dd0089,71vw 51vh #dd0089,97vw 72vh #dd0089,24vw 48vh #dd0089,35vw 30vh #dd0089,13vw 40vh #dd0089,52vw 24vh #dd0089,91vw 30vh #dd0089,2vw 18vh #dd0089,2vw 16vh #dd0089,36vw 24vh #dd0089,98vw 28vh #dd0089,33vw 75vh #dd0089,94vw 25vh #dd0089,11vw 86vh #dd0089,67vw 41vh #dd0089,89vw 84vh #dd0089,26vw 40vh #dd0089,32vw 59vh #dd0089,13vw 99vh #dd0089,51vw 82vh #dd0089,24vw 100vh #dd0089,83vw 39vh #dd0089,75vw 39vh #dd0089,68vw 11vh #dd0089,29vw 35vh #dd0089,44vw 91vh #dd0089,70vw 87vh #dd0089,53vw 79vh #dd0089,41vw 88vh #dd0089,94vw 49vh #dd0089,11vw 61vh #dd0089,100vw 22vh #dd0089,19vw 20vh #dd0089,1vw 12vh #dd0089,36vw 98vh #dd0089,96vw 60vh #dd0089,55vw 14vh #dd0089,79vw 76vh #dd0089,56vw 30vh #dd0089,99vw 86vh #dd0089,83vw 85vh #dd0089,11vw 17vh #dd0089,25vw 69vh #dd0089,60vw 26vh #dd0089,59vw 83vh #dd0089,82vw 24vh #dd0089,59vw 57vh #dd0089,65vw 40vh #dd0089,54vw 91vh #dd0089,66vw 14vh #dd0089,72vw 13vh #dd0089,35vw 51vh #dd0089,44vw 22vh #dd0089,49vw 26vh #dd0089,81vw 91vh #dd0089,42vw 31vh #dd0089,44vw 32vh #dd0089,72vw 23vh #dd0089;
  animation: moveUp 50s linear infinite;
}
.layer2::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  width: 2px;
  height: 2px;
  border-radius: inherit;
  box-shadow: inherit;
}

.layer3 {
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 38vw 93vh #f6f9fc,49vw 8vh #f6f9fc,55vw 9vh #f6f9fc,89vw 54vh #f6f9fc,1vw 83vh #f6f9fc,38vw 58vh #f6f9fc,27vw 57vh #f6f9fc,8vw 10vh #f6f9fc,27vw 67vh #f6f9fc,79vw 24vh #f6f9fc,68vw 97vh #f6f9fc,84vw 20vh #f6f9fc,35vw 57vh #f6f9fc,48vw 2vh #f6f9fc,76vw 90vh #f6f9fc,9vw 45vh #f6f9fc,39vw 24vh #f6f9fc,69vw 50vh #f6f9fc,29vw 69vh #f6f9fc,44vw 66vh #f6f9fc,52vw 42vh #f6f9fc,94vw 12vh #f6f9fc,89vw 79vh #f6f9fc,34vw 66vh #f6f9fc,8vw 65vh #f6f9fc,14vw 72vh #f6f9fc,80vw 56vh #f6f9fc,31vw 80vh #f6f9fc,68vw 97vh #f6f9fc,40vw 49vh #f6f9fc,43vw 72vh #f6f9fc,85vw 60vh #f6f9fc,46vw 23vh #f6f9fc,13vw 56vh #f6f9fc,96vw 23vh #f6f9fc,69vw 80vh #f6f9fc,61vw 48vh #f6f9fc,14vw 34vh #f6f9fc,56vw 2vh #f6f9fc,89vw 73vh #f6f9fc,11vw 51vh #f6f9fc,11vw 96vh #f6f9fc,1vw 100vh #f6f9fc,27vw 6vh #f6f9fc,29vw 85vh #f6f9fc,16vw 43vh #f6f9fc,31vw 29vh #f6f9fc,30vw 28vh #f6f9fc,73vw 50vh #f6f9fc,78vw 36vh #f6f9fc,57vw 77vh #f6f9fc,49vw 48vh #f6f9fc,74vw 12vh #f6f9fc,94vw 7vh #f6f9fc,23vw 56vh #f6f9fc,30vw 8vh #f6f9fc,64vw 23vh #f6f9fc,4vw 34vh #f6f9fc,75vw 19vh #f6f9fc,59vw 100vh #f6f9fc,3vw 53vh #f6f9fc,86vw 64vh #f6f9fc;
  animation: moveUp 25s linear infinite;
}
.layer3::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  width: 3px;
  height: 3px;
  border-radius: inherit;
  box-shadow: inherit;
}

@keyframes moveUp {
  100% {
    transform: translateY(-100vh);
  }
}/*# sourceMappingURL=index.css.map */