* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --bg: url(../../Images/beijing1.webp) no-repeat center/cover;
  background: var(--bg);
  height: 100vh;
}
.model {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  filter: contrast(30); /* 对比度 */
}
.model h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  /* 
  background: var(--bg);
  background-clip: text;
  -webkit-background-clip: text; */

  color: #fff;
  animation: showup 3s forwards;
}

@keyframes showup {
  from {
    letter-spacing: -50px;
    filter: blur(10px);
  }
  to {
    letter-spacing: 10px;
    filter: blur(2px);
  }
}
